*{
    box-sizing: border-box;
}
html,body,footer{
    margin:0;
    padding: 0; 
}
header{
    background-image:url("../../images/andrew-neel-128377.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 700px;
    padding-top: 100px;
    padding-left:200px; 
}
/*setion*/
.container{
    font-size: 30px;
    overflow: auto;
    
    
}
.choose0{
    text-align: center;
    border: 1px solid black;
    font-family: 'Source Code Pro', monospace;
    padding-top: 5px;
    background-color: #81c7D4;

    
}

.choose1{
width: calc(100%/12*4);
float: left;
border: 1px solid black;
padding-left: 10px;


}
.choose1 a{
    color: black;
    text-decoration: none;
}
.choose2{
width: calc(100%/12*4);
float: left;
border: 1px solid black;
padding-left: 10px;
}
.choose2 a{
    color: black;
    text-decoration: none;
}
.choose3{
width: calc(100%/12*4);
float: left;
border: 1px solid black;
padding-left: 10px;
}
.choose3 a{
    color: black;
    text-decoration: none;
}
section p:nth-child(2){
    font-size: 20px;
}
/*footer*/
footer .container{
    background-color:black;
    overflow: auto;
    width: 100%;
}
.subleft{
    width:60%;
    float: left;
    text-align: center;
    
}
.subright{
    width:40%;
    height: 327px;
    float: left;
    
}
footer p{
    font-size: 20px;
    text-decoration: underline;
    color: white;
}
footer h3{
    text-align: center;
    color:white;
}
footer a{
color:white;
}
@media screen and ( max-width:700px) {
    header{
        width: 100%;
    }
    section{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .choose0{
        width: 100%;
    }
    .choose1{
        width: 100%;
    }
    .choose2{
        width: 100%;
    }
    .choose3{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .subleft{
        width: 100%;
    }
    .subright{
        width: 100%;
    }
}