   .{
       box-sizing: border-box;
       border: 1px solid #000;
   }
   body{
       background-color:white;
   }
   .container{
       background-image: url("../../images/andrew-neel-128377.jpg");
       background-repeat: no-repeat;
       background-position: center;
       background-size:cover;  
       padding-top: 100px;
       padding-left: 100px;
       height: 500px;
       margine:0 auto;
       border: 1px solid #000;
       color:black;
       font-family: 'Bitter', serif;
       font-size: 20px;
   }       
    
   .choose{
       text-align: center;
       font-size: 30;
       letter-spacing: 10px;
       margin:50px;
   }
    .detail{
        background-color: #58B2Dc;
        font-family:'Dosis', sans-serif;
        margin-top:5px; 
    }
    #detail-1{
        padding:10px;
        width:30%;
        height: 350px;
        float:left;
        border: 1px solid #000;
        margin: 10px;
        border-radius: 20px;

    } 
    #detail-2{
        padding:10px;
        width:30%;
        height: 350px;
        float:left;
        border: 1px solid #000;
        margin: 10px;
         border-radius: 20px;
    }        
    #detail-3{
        padding:10px;
        width:30%;
       height: 350px;
        float:left;
        border: 1px solid #000;
        margin: 10px;
         border-radius: 20px;
    }
    section p:nth-child(2){
    font-family:  'Abel', sans-serif;
    font-size: 30px;

    }        
         
   
    
    